*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: "Lato";
  font-weight: 300;
  font-size: 20px;
  color: #555;
}

body{
  background-color: #f0eeee;
}

.button{
  padding: 0.2em;
  background-color: #e67e22;
  border: 0.3em solid #e67e22;
  margin-top: 0.5em;
  margin-left: 0.5em;
  border-radius: 3em;
  color: #fff;
}

.button:hover{
  background-color: #de7519;
  border: 0.3em solid #de7519;
}

#new_note{
  font-size: 2rem;
}

.note{
  font-size: 1rem;
  position: absolute;
  background-color: #fcfcfc;
  height: 400px;
  width: 300px;
  padding: 0.2em;
  border-radius: 0.2em;
  box-shadow: 0.2em 0.2em 0.3em #e6e6e6;
  overflow: hidden;
}

.note_body p{
  word-wrap: break-word;
}

.note:hover .close_button{
  display: block;
}

.note:hover .done_button{
  display: block;
}

.close_button,
.close_button:active,
.close_button:visited{
  position:absolute;
  right: 15px;
  top: 15px;
  font-size: 2rem;
  color: #c6c3c3;
  display: none;
}

.done_button,
.done_button:active,
.done_button:visited{
  position:absolute;
  right: 60px;
  top: 15px;
  font-size: 2rem;
  color: #c6c3c3;
  display: none;
}

.done_button:hover{
  color: green;
}

.close_button:hover{
  color: red;
}

.note_body{
  font-size: 1.5rem;
  margin-top: 60px;
  padding: 5px;
}

.footer{
  padding: 2%;
  font-size: 0.8rem;
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
}

h2{
	font-size: 1.8rem;
	word-spacing: 0.047em;
	text-align: center;
	margin-bottom: 1.5rem;
	letter-spacing: 0.05em;
  font-weight: 300;
}

h2:after{
	display: block;
	height: 2px;
	width: 4rem;
	margin: 0 auto;
	margin-top: 1.5rem;
	background-color: #e67e22;
	content: " ";
}

.row {
    zoom: 1;
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

.col{
  width: 100%;
}

#background{
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.5);
  visibility: hidden;
  position: fixed;
}

.form_container{
  width: 50%;
  height: 500px;
  z-index: 1001;
  margin: 150px auto;
  background-color: #fff;
}

.form_container p{
  margin-right: 30px;
  margin-top: 30px;
  text-align: right;
}

.form{
  width: 70%;
  margin: 30px auto
}

textarea{
  height: 6rem;
  width: 100%;
	border-radius: 0.2em;
	border: 0.08em solid #ccc;
}

#submit_note{
  font-size: 1.5rem;
}

#close_form,
#close_form:active,
#close_form:visited{
  right: 15px;
  top: 15px;
  font-size: 3rem;
  color: #c6c3c3;
}

#close_form:hover{
  color: #e67e22;
}
