*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: "Lato";
  font-weight: 300;
  font-size: 20px;
  color: #555;
}

body{
  background-color: #f0eeee;
}

#new_note{
  font-size: 2rem;
  padding: 0.2em;
  background-color:#e67e22;
  border: 0.3em solid #e67e22;
  margin-top: 0.5em;
  margin-left: 0.5em;
  border-radius: 0.6em;
  color: #fff;
}



#new_note:hover{
  background-color: #de7519;
  border: 0.3em solid #de7519;
}


.note{
  font-size: 1rem;
  position: absolute;
  top: 300px;
  left: 300px;
  background-color: #fcfcfc;
  height: 400px;
  width: 300px;
  padding: 0.2em;
  border-radius: 0.2em;
  box-shadow: 0.2em 0.2em 0.3em #e6e6e6;
  overflow: hidden;
}

.note:hover .close_button{
  display: block; 
}

.close_button,
.close_button:active,
.close_button:visited{
  position:absolute;
  right: 15px;
  top: 15px;
  font-size: 2rem;
  color: #c6c3c3;
  display: none;
}

.note_body{
  font-size: 1.5rem;
  margin-top: 40px;
  padding: 5px;
}

.footer{
  padding: 2%;
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
